@import "utilities";

// Here you can add other styles

@include media-breakpoint-up(xs) {
  div.form-group {
    div.row {
      div {
        padding-right: 15px !important;
        padding-left: 15px !important;
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  div#paginator {
    .itemsShowing {
      text-align: right !important;
    }

    .itemsPaging {
      nav {
        float: right !important;
      }
    }

    .itemsPerPage {
      text-align: right !important;
    }
  }
}

@include media-breakpoint-up(sm) {
  div#paginator {
    .itemsShowing {
      text-align: right !important;
    }

    .itemsPaging {
      nav {
        float: right !important;
      }
    }

    .itemsPerPage {
      text-align: right !important;
    }
  }
}

@include media-breakpoint-up(md) {
  div#paginator {
    .itemsShowing {
      text-align: center !important;
    }
  }
}

.json-light {
  background-color: antiquewhite;
  border: 1px solid silver;
  height: inherit;
  overflow: auto;
  border-radius: 5px;
  padding: 0px;
  margin: 10px;
}

.json-light-key {
  color: brown;
}

.json-light-value {
  color: navy;
}

.json-light-string {
  color: olive;
}

.json-dark {
  background-color: black;
  border: 1px solid silver;
  height: inherit;
  overflow: auto;
  color: white;
  border-radius: 5px;
  padding: 0px;
}

.json-dark-key {
  color: cadetblue;
}

.json-dark-value {
  color: green;
  font-weight: bold;
}

.json-dark-string {
  color: tomato;
}
